fastapi
uvicorn
pydantic
pydantic[email]
sqlalchemy
asyncpg
alembic
httpx
argon2-cffi
pyjwt
cryptography
icecream
python-dotenv
orjson
redis
uvloop ; platform_system!="Windows"
gunicorn ; platform_system!="Windows"